<table>
    <tr *ngFor="let row of rows; let r = index">
        <td class="cell" [id]="(7*r)+c" *ngFor="let cell of row; let c = index"
            [ngClass]="
                  {
                      'red': cells[(7*r)+c] === 'red',
                      'yellow': cells[(7*r)+c] === 'yellow',
                      'hover-red': myColor === 'red' && hoverCell === (7*r)+c,
                      'hover-yellow': myColor === 'yellow' && hoverCell === (7*r)+c
                  }"
            (mouseleave)="hoverCell=-1" (mouseenter)="turn === myColor && !winner ? hoverCell=beginHoverEffect(c) : false"
            (click)="changeValue(c)">
        </td>
    </tr>
    <tr>
        <td colspan="7" class="winner" [ngClass]="{'red': winner === 'Red', 'yellow': winner === 'Yellow'}">
            <span *ngIf="!turn" class="waiting">Waiting for other player...</span>
            <span *ngIf="winner">{{winner === 'none' ? 'Tie!' : winner}}</span>
        </td>
    </tr>
    <tr>
        <p style="line-height:30px">Color</p>
        <td class="cell2 mycolor" [ngClass]="{'red': myColor === 'red', 'yellow': myColor === 'yellow'}"></td>
    </tr>
    <tr>
        <p style="line-height:30px">Turn</p>
        <td class="cell2 color-turn" [ngClass]="{'red': turn === 'red', 'yellow': turn === 'yellow'}"></td>
    </tr>
    <tr>
        <th colspan="7">
            <button [disabled]="!winner" (click)="newGame()">New Game</button>
        </th>
    </tr>
</table>